{% extends 'base.html' %}

{% block title %}Browse{% endblock %}

{% block content %}
  <h1>All works</h1>
    <form method="get" action="{% url 'catalog:search' %}">
      <input type="text" name="q"  value="{{ query }}" placeholder="Search all works...">
      <select name="media_type">
        <option value="movie" {% if media_type == 'movie' %}selected{% endif %}>Movie</option>
        <option value="tv" {% if media_type == 'tv' %}selected{% endif %}>TV</option>
        <option value="book" {% if media_type == 'book' %}selected{% endif %}>Book</option>
      </select>
      <button type="submit">Search</button>
    </form>


  {% for work in works %}
    <div>
      <a href="{% url 'catalog:detail' pk=work.pk %}">{{ work.title }}</a>
      ({{ work.get_media_type_display }})
      {% if work.avg_rating %}
        — {{ work.avg_rating|floatformat:1 }}/5 ({{ work.review_count }} reviews)
      {% else %}
        — No ratings yet
      {% endif %}
    </div>
  {% empty %}
    <p>Nothing here yet. <a href="{% url 'catalog:search' %}">Add the first entry!</a></p>
  {% endfor %}
{% endblock %}